@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables.scss";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins/_grid.scss";
@mixin ashana($bgposition1,$bgposition2, $width, $height){
  background: url("/images/cr_gmn_lg.png") $bgposition1 $bgposition2  no-repeat;
  width: $width;
  height: $height;
}
.ashana1 {@include ashana(-16px, 0, 44px, 61px);}
.ashana2 {@include ashana(-79px, 0px, 58px, 61px);}
.ashana3 {@include ashana(-155px, 0px, 59px, 61px);}
.ashana4 {@include ashana(-234px, 0px, 44px, 61px);}
.ashana5 {@include ashana(-16px,-61px, 50px, 61px);}
.ashana6 {@include ashana(-16px,40px, 44px, 61px);}
.ashana7 {@include ashana(-16px,40px, 44px, 61px);}
.ashana8 {@include ashana(-16px,40px, 44px, 61px);}
.ashana9 {@include ashana(-16px,40px, 44px, 61px);}
.ashana10 {@include ashana(-16px,40px, 44px, 61px);}
.ashana {
  @include make-xs-column(1, auto);
  @include make-sm-column(1, auto);
  @include make-md-column(1, auto);
  @include make-lg-column(1, auto);
  cursor: move;
}