<div ng-controller="SequencecontrollerCtrl" class="row">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <posture-list uisortable="true" module-size="small"></posture-list>
        </div>
        <div ng-model="sequence" ui-sortable="sortableOptions"
             class="col-xs-9 col-sm-9 col-md-9 col-lg-9 ashanas-container">

            <div class="ashana" ng-repeat="ashana in sequence">
                    <div class="{{ ashana.shortname }}">
                     </div>
            </div>
        </div>
    </div>
</div>