<input type="text" ng-model="searchText" placeholder="search any ashana"/>

<div ng-if="uisortable" ui-sortable="sortableOptions" ng-model="ashanas" class="ashanas-container ashanasSearch row"> 

        <div class="ashana" ng-repeat="ashana in ashanas | search:searchText"> 

                <div class="{{ ashana.shortname }}"></div> 

        </div> 

</div> 

<div ng-if="!uisortable" class="ashana" ng-repeat="ashana in ashanas | search:searchText"> 

        <div class="{{ ashana.shortname }}"></div> 

</div>